.responsive-card {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form-button {
    width: 100%;
    background-color: #666390;
    border-color: #666390;
}


.login-error {
    color: red;
    margin-bottom: 15px;
}

.link {
    color: #666390
}


.link:hover {
    color: #666390
}



#normal-login_email::placeholder {
    color: rgb(111, 110, 110) !important;
}

#normal-login_password::placeholder {
    color: rgb(111, 110, 110) !important;
}