/* Estilos para el modo oscuro, se aplican solo cuando la clase dark-table está presente */
.dark-table .ant-table {
    background-color: #333; /* Fondo oscuro para la tabla */
}

.dark-table .ant-table-thead > tr > th {
    background-color: #444; /* Fondo oscuro para las cabeceras */
    color: #fff; /* Texto blanco para las cabeceras */
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); /* Línea más tenue para cabeceras */
}

.dark-table .ant-table-tbody > tr > td {
    background-color: #222; /* Fondo oscuro para las celdas */
    color: #fff; /* Texto blanco para las celdas */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea más tenue para celdas */
}

.dark-table .ant-table-bordered .ant-table-container {
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde tenue para la tabla */
}

.dark-table .ant-table-container table > thead > tr:not(:last-child) th {
    border-right: 1px solid rgba(255, 255, 255, 0.15); /* Línea más tenue para separación de columnas */
}

.dark-table .ant-table-container table > tbody > tr > td {
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Línea más tenue para separación de celdas */
}

.dark-row:hover .ant-table-cell {
    background-color: #555 !important; /* Cambiar fondo al pasar el mouse */
}

.dark-column {
    background-color: #121212 !important; /* Asegurar fondo oscuro para columnas */
    color: #fff !important; /* Asegurar texto blanco para columnas */
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Línea más tenue para separación de columnas */
}

.dark-column .ant-table-filter-trigger {
    color: #fff !important; /* Cambiar el color del icono de filtro */
}

.dark-popconfirm .ant-popover-inner {
    background-color: #333; /* Fondo oscuro para el Popconfirm */
    color: #fff; /* Texto blanco para el Popconfirm */
    border-radius: 8px; /* Redondeo opcional */
}

.dark-popconfirm .ant-popover-title {
    color: #fff; /* Texto blanco para el título del Popconfirm */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Borde tenue para el título */
}

.dark-popconfirm .ant-popover-buttons {
    background-color: #121212;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Borde tenue para los botones */
}

.dark-popconfirm .ant-popover-buttons button {
    background-color: #444; /* Fondo oscuro para botones */
    color: #fff; /* Texto blanco para botones */
    border: none; /* Sin borde para botones */
}

.ant-input {
    color: #7a7979 !important;
}

.ant-popconfirm-buttons > * {
    color: #a2a0a0 !important;
}