.calificaciones-container {
    max-height: 75vh;
    overflow-y: auto;
    padding: 20px;
}

.calificaciones-table-header, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
}

.calificaciones-table-header-oscuro, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}


.ant-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calificaciones-actions {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
