/* AddAdminModal.css */

/* Estilos del Modal */
.dark-mode .ant-modal-content {
    background-color: #333; /* Fondo oscuro para el modal */
    color: #fff; /* Texto blanco para el modal */
}

.dark-mode .ant-modal-header {
    background-color: #333; /* Fondo más oscuro para el encabezado del modal */
    color: #fff; /* Texto blanco para el encabezado */
}

.dark-mode .ant-modal-title {
    color: #fff; /* Texto blanco para el título del modal */
}

.dark-mode .ant-modal-footer .ant-btn {
    background-color: #555; /* Botones más oscuros */
    color: #fff; /* Texto blanco para botones */
    border-color: rgba(255, 255, 255, 0.2); /* Borde tenue para botones */
}

.dark-mode .ant-modal-footer .ant-btn-primary {
    background-color: #777; /* Botón primario más oscuro */
    color: #fff; /* Texto blanco para botón primario */
    border-color: rgba(255, 255, 255, 0.2); /* Borde tenue para botón primario */
}

.dark-mode .ant-modal-footer .ant-btn:hover {
    background-color: #666; /* Fondo más oscuro al pasar el mouse */
}

/* Estilos del Formulario */
.dark-mode .ant-form-item-label > label {
    color: #fff; /* Texto blanco para las etiquetas */
}

.dark-mode .ant-input,
.dark-mode .ant-select-selector,
.dark-mode .ant-input-password,
.dark-mode .ant-select-selection-search {
    background-color: #222 !important; /* Fondo oscuro para los campos de entrada */
    color: #fff !important; /* Texto blanco para los campos de entrada */
    border-color: rgba(255, 255, 255, 0.2); /* Borde tenue */
}

.dark-mode .ant-picker,
.dark-mode .ant-picker-panel-container {
    background-color: #222 !important; /* Fondo oscuro para los campos de entrada */
    color: #fff !important; /* Texto blanco para los campos de entrada */
    border-color: rgba(255, 255, 255, 0.2); /* Borde tenue */
}

.dark-mode .ant-picker > span > span {
    color: #fff;
}



.dark-mode input[placeholder="Search in filters"] {
    background: white !important;
    color: #000 !important;
}

.dark-mode .ant-table-filter-dropdown,
.dark-mode .ant-dropdown-menu{
    background-color: #333 !important;
    
}


.dark-mode .ant-select-selection-item {
    color: #777;
}


.dark-mode .ant-input:focus,
.dark-mode .ant-input:hover,
.dark-mode .ant-select-selector:focus,
.dark-mode .ant-select-selector:hover,
.dark-mode .ant-input-password:focus,
.dark-mode .ant-input-password:hover {
    border-color: #777; /* Color de borde más oscuro al enfocar o pasar el mouse */
    box-shadow: none; /* Elimina el resplandor */
}

.dark-mode .ant-select-dropdown {
    background-color: #333; /* Fondo oscuro para el desplegable del select */
    color: #fff; /* Texto blanco para el desplegable */
}

.dark-mode .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #444; /* Fondo oscuro para la opción seleccionada */
    color: #fff; /* Texto blanco para la opción seleccionada */
}
