.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.img-container {
    max-width: 50%;
}

.img-container img {
    width: 100%; 
    height: auto; 
    max-height: 80vh; 
}

div-carrusel {
    height: 2000;
    padding-top:50px;
}