.Layout-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content-left {
    height: 100vh;
    background: linear-gradient(to bottom right, #666390, #666390);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left-oscuro {
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-right {
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right-oscuro {
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}