.responsive-card{
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0;
    padding: 20px;
}
.imagen{
    width: 100px;
    height: 100px;
}
.error-message {
    color: red;
    margin-top: 10px;
}


#normal_login_name::placeholder {
    color: rgb(111, 110, 110) !important;
}

#normal_login_lastname::placeholder {
    color: rgb(111, 110, 110) !important;
}


#normal_login_email::placeholder {
    color: rgb(111, 110, 110) !important;
}

#normal_login_password::placeholder {
    color: rgb(111, 110, 110) !important;   
}

#normal_login_password-repeat::placeholder {
    color: rgb(111, 110, 110) !important;
}