.assistances-container {
    max-height: 75vh;
    overflow-y: auto;
    padding: 20px;
}

.assistances-container {
    color: #000;
}

.assistances-table-header, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
}


.assistances-table-header-oscuro, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

.assistances-actions {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}


