.drawer-header {
    display: flex;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    width: 92%;
    text-align: center;
}

.save-button {
    background-color: #666390;
    color: white;
    border: none;
}

.save-button:hover {
    background-color: #b199dd;
    color: white;
}

.edit-password-button,
.logout-button {
    display: block;
    margin: 2px;
    right: 10px;
    width: 60%;
    background-color: #b199dd;
    color: white;
    border: none;
}

.edit-password-button:hover,
.logout-button:hover {
    background-color: #666390;
    color: white;
}