.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #ffdbf4;
    height: 90px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.logo {
    height: 70px;
    width: 70px;
    margin-right: 10px; /* Margen a la derecha para separación */
    margin-left: 10px; /* Nuevo margen a la izquierda */
    border-radius: 50%;
    display: flex; /* Añadir display flex para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.logo-container {
    margin-left: 10px; /* Margen a la izquierda */
}


.menu {
    background: transparent;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center; /* Centrado vertical del texto */
}

.menu-item a {
    color: #ffffff; /* White text color for menu items */
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #666390; /* Blue color on hover */
}

.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #666390; /* Blue color for the selected item */
}

