.students-container {
    max-height: 75vh;
    overflow-y: auto;
    padding: 20px;
}

.students-container {
    color: #000;
}


.students-table-header, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
}

.students-table-header-oscuro, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

.students-actions {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
