.carousel-slide {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .carousel-image {
    background-color: #e1d6f5;
    width: 100%;
    height: auto;
    max-height: 500px; /* Ajusta esta altura máxima según tus necesidades */
    object-fit: contain;
  }
  
  .carousel-content {
    
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: max-content;
    max-width: 600px;
  }
  
  .carousel-content h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .carousel-content p {
    margin: 5px 0 0;
    font-size: 16px;
  }
  

  .ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: #000000;
}