.responsive-card {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.forgot-password-form {
    display: flex;
    flex-direction: column;
}


.forgot-password-form .ant-input,
.forgot-password-form .ant-input-password {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}


.forgot-password-form-button {
    width: 100%;
    background-color: #1890ff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.forgot-password-form-button:hover {
    background-color: #40a9ff;
}

.forgot-password-form-button:focus {
    background-color: #096dd9;
}


.forgot-password-form .anticon {
    color: rgba(0, 0, 0, 0.25);
}


.ant-notification-notice {
    border-radius: 8px;
}

.ant-notification-notice-message {
    font-weight: bold;
    color: #096dd9;
}

.ant-notification-notice-description {
    font-size: 14px;
    color: #595959;
}