.graphics-container {
    padding: 20px;
    max-height: 75vh;
    overflow-y: auto;
}

.graphics-header, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
    text-align: left;
}

.graphics-header-oscuro, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.graphics-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre las gráficas */
}

.graphic-item {
    flex: 1;
    max-width: 48%; /* Asegura que ambas gráficas ocupen aproximadamente la mitad del ancho */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
