.users-container {
    max-height: 75vh;
    overflow-y: auto;
    padding: 20px;
}

.users-container {
    color: #000;
}


.users-table-header, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
}


.users-table-header-oscuro, h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

.usuarios-actions {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.input-dark {
    color: #000;
}

.input-dark::placeholder {
    color: #646262
}

